* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

#header {
    padding: 0px 100px;
    color: white;
}

#header span:nth-child(1){
    font-size: 30px;
    font-weight: bold;
}

#header span:nth-child(2){
    float: right;
    font-style: italic;
    font-size: 25px;
}

#header span:nth-child(2):hover{
    color: black;
}

#img-background{
    padding-right: 100px;
    padding-top: 70px;
    float: left;
    width: 50%;
}

#info {
    padding: 142px 0px;
    float: right;
    width: 50%;
    height: 545px;
}

.info_member{
    background-color: rgb(214, 252, 250);
    font-style: italic;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 4%;
    border-radius: 20px;
    padding: 5px;
    
}

.info_member div {
    padding: 20px 0;
}

.info_member p {
    padding: 5px 0px;
}

.info_member:hover{
    background-color: rgb(49, 243, 243);
    font-weight: bold;
}

#info li {
    padding: 10px;
}

#info>p{
    text-align: center;
    font-size: 23px; 
    font-weight: bold;
}

#img-background img {
    max-height: 400px;
    float: right;
}

#header, #footer{
    min-height: 85px;
    line-height: 85px;
    background-color: rgb(16, 197, 167);
}

#footer{
    clear: both;
    text-align: center;
 
}

#detail{
    padding: 30px 30px;
}