.container {
    width: 90%;
    margin: 0 auto;
}

#homepage h1 {
    margin-left: 20px;
    margin-top: 14px;
    display: inline-block;
}

#homepage_img {
    width: 50px;
    height: auto;
    float: left;
}

#img_box {
    width: 40%;
    float: left;
}

#info_box {
    width: 60%;
    float: left;
}

.header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.info_left {
    float: left;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
}

.info_right {
    float: left;
    width: 70%;
    font-size: 20px;
    line-height: 3.1;
}